{% extends 'emails/email.html.twig' %}

{% block body %}
    <p>
        Un nouveau planning des permanences a été établi pour la période du {{ period.min|date('d/m/Y') }} au {{ period.max|date('d/m/Y') }}.
    </p>
    <p>Veuillez vous connecter sur <a href="{{ url('planning') }}">"Permanences"</a> pour le consulter.</p>
{% endblock %}
