{% extends 'emails/email.html.twig' %}

{% block body %}
    <p>Veuillez vous connecter sur <a href="{{ url('password_reset_confirm', {token: token}) }}">ici</a> pour réinitialiser votre mot de passe.</p>
{% endblock %}
