{% extends 'emails/email.html.twig' %}

{% block body %}
    <p>
        Le planning sur la période du {{ period.min|date('d/m/Y') }} au {{ period.max|date('d/m/Y') }} va bientôt être clôturé.
    </p>
    <p>Merci de vérifier vos disponibilités sur <a href="{{ url('unavailability') }}">"Calendrier"</a> pour les saisir.</p>
{% endblock %}
