{% extends 'emails/email.html.twig' %}

{% block body %}
    <p>
        Vous n'avez saisi aucune disponibilité pour le planning sur la période du {{ period.min|date('d/m/Y') }} au {{ period.max|date('d/m/Y') }}.
    </p>
    <p>Veuillez vous connecter sur <a href="{{ url('planning_availability') }}">"Permanences"</a> pour les saisir.</p>
{% endblock %}
