{% extends base %}

{% block body %}
    <div class="slideshow">
        <div class="player">
            <i class="fas fa-chevron-circle-left"></i>
            <i class="fas fa-play-circle"></i>
            <i class="fas fa-pause-circle"></i>
            <i class="fas fa-chevron-circle-right"></i>
        </div>
        <ul>
            {% for document in documents %}
                <li>{{ document.text|raw }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
