{% extends base %}

{% block body %}
    {% set title = '' %}
    {% if isPdf is not defined or not isPdf %}
        {{ form(form) }}
    {% endif %}
    <h4>{{ title }}</h4>
    {% for tableName, table in tables %}
        {% embed 'basket/synthesis.html.twig' with {tableName: tableName, table: table, parameters: parameters[tableName], type: type} %}
            {% block header '' %}
            {% block footer '' %}
        {% endembed %}
        {% if not loop.last %}
            <div class="new-page"></div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#syntheses_start').on('change', function() {
                $('#syntheses_end').datepicker('option', 'minDate', $(this).datepicker('getDate'));
            });
        });
    </script>
{% endblock %}
